@charset "UTF-8";

body {
	font-family: Poppins, sans-serif;
	background: #f5f7fb;
	color: #212529;
	min-height: 100vh
}

.navbar {
	padding: 12px
}

.navbar-brand {
	font-weight: 700
}

.nav-link {
	color: white !important
}

.nav-link:hover {
	color: #ffc107 !important
}

.card {
	border: none;
	border-radius: 12px
}

.page-title {
	margin: 30px 0;
	font-weight: 600
}

.btn {
	border-radius: 7px
}

footer {
	margin-top: 50px
}

#message {
	display: none
}